h1, #numPlayers, #players {
	text-align: center;
}

#gameboard {
	margin-top: 2rem;
	position: block;
}

.boxes {
	border: 1px solid #000;
	height: 150px;
	width: 150px;
	float: left;
	position: inline-block;
}

.gamerow {
	position: relative;
}